body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 7.5%;
    box-shadow: 0px 0px 10px 1px gray;
    display: flex;
    flex-direction: row;

}

#navBGimg{
    height: 100%;
    width: 15%;
    background: linear-gradient(to right, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%), url(/Images/system-images/navBG.png);
    background-size: cover;
    background-position: center;
}
#navContent{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 0.5%; 
}

#search{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchBox{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 2px gray;
    background-color: #EFEFEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}
#searchBox input{
    border:none;
    outline: none;
    color: #595959;
    background:none;
    height: 100%;
}
#searchIcon{
    height: 100%;
    width: 10%;
    border-radius: 0px 10px 10px 0px;
    background-image: url(/Images/system-images/SearchBlackIcon.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
#searchIcon:hover{
    background-image: url(/Images/system-images/SearchWhiteIcon.png);
    background-color: #595959;
}
#profileInfo{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#profilePhoto{
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(/Images/profileImages/demoprofileImage.png);
    background-size: cover;
    background-position: center;
    background-position: center;
    box-shadow: 0 0 2px;
}
#proInfo{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#userName{
    font-family: jaldi;
    font-size: 100%;
}
#userType{
    font-family: jaldi;
    font-size: 80%;
}

main{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;

}

#sideBar{
    width: 15%;
    height: 100%;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    background-color: #F9F9F9;
    padding: 2%;
}

.category-card-container {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    position: sticky;
    left:25%;
}

.grid-container {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 10px;
}

.category-card {
    height: 120px;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    background-color: black;
    color: white;
    font-size: 25px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
}


.category-card:hover {
  
   background:linear-gradient(to right,black,white) ;
   color: rgb(245, 245, 245);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
   border: .5px solid black;
}
