.mainContent{
    margin: 15px;
    overflow-y: auto;
    overflow-x: none;
    scrollbar-width: none;
}

.dragSection{
    width: 1180px;
    height: 290px;
    border-radius: 12.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upDetails{
    width: 1180px;
    height: 534px;
    border-radius: 12.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 20px 0px;
}

input, textarea, select{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background:#efefea;
    font-size:10px;
}

textarea{
    height: 151px;
}

.upDetailsLeftLower{
    display: flex;
    justify-content: space-between;
}

.updetailsRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;;
}

.upBtn{
    background-color: black;
    color: white;
    margin-bottom: 15px;
}

.discardBtn{
    background-color: white;
    color: black;
}